Repository evstack/ev-reth, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lumen-maintainers, @lumen-node-team, @lumen-rollkit-team, @lumen-core-team, @lumen-qa-team, @lumen-devops-team, @lumen-docs-team, @lumen-legal-team

use atlius-reth
  Cargo.lock
  Cargo.toml
Owners: @lumen-maintainers

create feehandler system
  Cargo.lock
  Cargo.toml
  README.md
  crates/fee-handlers/Cargo.toml
  crates/fee-handlers/src/apply.rs
  crates/fee-handlers/src/compute.rs
  crates/fee-handlers/src/config.rs
  crates/fee-handlers/src/lib.rs
  crates/fee-handlers/src/types.rs
  crates/fee-handlers/tests/compute.rs
  crates/node/Cargo.toml
  crates/node/src/builder.rs
  etc/fee-handlers.example.json
Owners: @lumen-maintainers, @lumen-docs-team, @lumen-node-team

upgrade: align to Reth v1.7.0 APIs
  Cargo.lock
  Cargo.toml
  bin/ev-reth/src/main.rs
  bin/ev-reth/src/validator.rs
Owners: @lumen-maintainers

add gas to gettxs
  README.md
  bin/ev-reth/src/builder.rs
  bin/ev-reth/src/main.rs
  crates/evolve/src/config.rs
  crates/evolve/src/lib.rs
  crates/evolve/src/rpc/txpool.rs
Owners: @lumen-docs-team, @lumen-maintainers

default to 30m gas
  crates/evolve/src/config.rs
Owners: @lumen-maintainers

fix fmt and lint
  bin/ev-reth/src/builder.rs
  bin/ev-reth/src/main.rs
Owners: @lumen-maintainers

fix comment
  bin/ev-reth/src/builder.rs
Owners: @lumen-maintainers

align readme
  README.md
Owners: @lumen-docs-team

feat: enable customization of evm
  bin/ev-reth/src/builder.rs
  bin/ev-reth/src/main.rs
  crates/evolve/src/evm.rs
  crates/evolve/src/executor.rs
  crates/evolve/src/lib.rs
  crates/evolve/src/precompiles.rs
  crates/node/src/builder.rs
  crates/tests/src/common.rs
  etc/ev-reth-genesis.json
Owners: @lumen-maintainers, @lumen-node-team

feat: enable rip-7212
  crates/evolve/src/precompiles.rs
Owners: @lumen-maintainers

++
  crates/node/src/builder.rs
  crates/tests/src/engine_api_tests.rs
Owners: @lumen-node-team, @lumen-maintainers

ammend to match what is in the genesis on in the payload attribute
  README.md
  bin/ev-reth/src/builder.rs
  bin/ev-reth/src/main.rs
  crates/evolve/src/config.rs
  crates/evolve/src/rpc/txpool.rs
Owners: @lumen-docs-team, @lumen-maintainers

fmt
  bin/ev-reth/src/builder.rs
Owners: @lumen-maintainers

chore: add gas to gettxs (#50)
  README.md
  bin/ev-reth/src/builder.rs
  bin/ev-reth/src/main.rs
  crates/evolve/src/config.rs
  crates/evolve/src/lib.rs
  crates/evolve/src/rpc/txpool.rs
Owners: @lumen-docs-team, @lumen-maintainers

chore(deps):
  Cargo.lock
Owners: @lumen-maintainers

refactor: use parent block for state provider in payload builder
  crates/node/src/builder.rs
Owners: @lumen-node-team

feat: integrate OTLP tracing
  Cargo.lock
  Cargo.toml
  bin/ev-reth/Cargo.toml
  bin/ev-reth/src/main.rs
Owners: @lumen-maintainers

chore: rm unnecessary info log
  crates/node/src/builder.rs
Owners: @lumen-node-team

chore: fix linter, disable otlp by default
  bin/ev-reth/src/main.rs
Owners: @lumen-maintainers

feat: integrate OTLP tracing (#53)
  Cargo.lock
  Cargo.toml
  bin/ev-reth/Cargo.toml
  bin/ev-reth/src/main.rs
Owners: @lumen-maintainers

chore(deps):
  Cargo.lock
Owners: @lumen-maintainers

lint
  bin/ev-reth/src/validator.rs
  crates/node/src/builder.rs
Owners: @lumen-maintainers, @lumen-node-team

fix conflict issue
  Cargo.lock
  Cargo.toml
Owners: @lumen-maintainers

fix tests
  crates/tests/src/common.rs
Owners: @lumen-maintainers

test clippy change
  .github/workflows/lint.yml
Owners: @lumen-devops-team

fix clippy
  .github/workflows/lint.yml
Owners: @lumen-devops-team

remove msrv
  .github/workflows/lint.yml
Owners: @lumen-devops-team

upgrade: align to Reth v1.7.0 APIs (#49)
  .github/workflows/lint.yml
  Cargo.lock
  Cargo.toml
  bin/ev-reth/src/main.rs
  bin/ev-reth/src/validator.rs
  crates/node/src/builder.rs
  crates/tests/src/common.rs
  crates/tests/src/engine_api_tests.rs
Owners: @lumen-devops-team, @lumen-maintainers, @lumen-node-team

.github/CODEOWNERS:

# CODEOWNERS file for automatic PR assignment
# https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners

# Global owners (fallback)
* @lumen-maintainers

# Core crates
/crates/node/ @lumen-node-team
/crates/rollkit/ @lumen-rollkit-team
/crates/common/ @lumen-core-team

# E2E tests
/crates/e2e-tests/ @lumen-qa-team

# CI/CD
/.github/ @lumen-devops-team
/Dockerfile* @lumen-devops-team
/Makefile @lumen-devops-team

# Documentation
/README.md @lumen-docs-team
/LICENSE* @lumen-legal-team
